* {
    padding: 0;
    margin: 0;
}

body {
    width: 1520px;
    font-family: sans-serif;
    height: 10vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .item_1 {
        grid-area: 1 / 1 / 2 / 5;

    }
    .item_2{
        grid-area: 2 / 1 / 5 / 2;
    }

    .item_3 {
        grid-area: 2 / 2 / 5 / 3;
        
    }

    .item_4 {
        grid-area: 5 / 2 / 8 / 3;
    }

    .item_5 {
        grid-area: 2 / 3 / 4 / 5;
    }

    .item_6 {
        grid-area: 4 / 3 / 6 / 5;
    }

    .item_7 {
        grid-area: 6 / 3 / 8 / 5;
    }
}

.item {
    border: 1px solid red;
}

.item_1 {
    width: 100%;
    grid-area: 1 / 1 / 2 / 5;
    display: grid;
    align-items: center;
    margin: auto;
    overflow: hidden;
    background: rgb(25, 90, 165);

}


.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.header h2 {
    color: #e9e3e3;
    padding-left: 30px;
    font-size: 30px;
}

.header ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    

}

.header ul li {
    display: inline-block;
    margin: 5px;

}

.header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header img {
    border: 1px solid rgb(230, 120, 80);
    background: rgb(230, 120, 80);
    border-radius: 100%;
    
}
/* header */

.item_2 {
    grid-area: 2 / 1 / 5 / 2;
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;
    margin-left: 50px;
    
}

.sidebar ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 5px;
    
}

.sidebar a {
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
    color: rgb(25, 90, 165);
}

.but {
    width: 20px;
    height: 25px;
    margin-left: 10px;
    background-color: rgb(18, 133, 197);
    color: #fff;
    border-color: rgb(18, 133, 197);
    border-radius: 5px;
    cursor: pointer;
}

/* sidebar */

.item_3 {
    grid-area: 2 / 2 / 5 / 3;
    display: grid;
    justify-content: center;
}

.foto_profil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.foto_profil img {
    border: 1px solid rgb(230, 120, 80);
    background: rgb(230, 120, 80);
    border-radius: 100%;
}

.but_1 {
    color: #fff;
    cursor: pointer;
    border-color: rgb(59, 162, 247);
    border-radius: 3px;
    padding: 4px;
    background-color: rgb(59, 162, 247);
}

/* foto */

.item_4 {
    grid-area: 5 / 2 / 8 / 3;
    display: grid;
    justify-content: center;
    width: 300px;
    margin-left: 30px;
}

.friends_bro {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 10px;
}

.friends_bro ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    margin-top: 10px;
    
}

.friends_bro ul li {
    justify-content: center;
    align-items: center;
}

.friends_bro img a{
    justify-content: center;
    align-items: center;
}

.friends_bro li a{
    display: flex;
    text-decoration: none;
    margin: 10px;
    color: black;
    
}


